@font-face {
    font-family: 'Bree Rg';
    src: url('../fonts/Bree-Regular.woff2') format('woff2'),
        url('../fonts/Bree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 1180px;
}
.header-top{
    background-color: #434855;
    padding: 16px 0;
    width: 100%;
    
}
.top-three-right{
    display: flex;
    justify-content: flex-end;
}
span{
    color:#b2b4b8;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
}
.logo{
    padding-top: 16px;
    background-size: 150px;
}
nav .navigation{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
nav .navigation .one{
    list-style-type: none;
    margin-left: 36px;
    transform: translate(-10px, -30px)
}
.one a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:#000000;
    font-weight: 600;
}
.button{
    background-color: #ea1b25;
    padding: 16px 25px;
    margin-top: -20px;
    text-decoration: none;
}
.button a{
    color:#ffffff;
  font-family: 'Bree Rg';
  font-weight: 300;
  list-style-type: none;
}
.banner{
    position: relative;
}
.banner img{ 
    width: 100%;
    margin-top: -5px;
}
.nav-icon{
    position: relative;
}
.icons{
    position: absolute;
}
.overlay{
position: absolute;
bottom: 4px;
background-color: black;
padding: 68px 40px;
right:0;
color: #ffffff;
width: 80%;
opacity: 0.8;
font-size: 35px;
}
.head{
    margin-top: -30px;
    font-weight: unset;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
/* red background part */
.redbg{
    background-color: #ea1b25;
    width: 58%;
    height:70px;
    position: relative;
    top:-40px;
    padding-left: 280px;
    border: none;
}
ol {
    list-style-type: none;
}
li{
    list-style-type: none;
    display: inline-block;
    font-size: 11px;
    margin: 25px 0 0 15px;
}
.lid{
    position: absolute;
    font-family: 'Bree Rg';
    font-size: 15px;
    left:382px;
    top:28px;
}
ol .bread::after{
    content: "\002F";
    font-size: 15px;
    margin-left: 18px;
    font-weight: unset;
}
.bread{
    font-weight: unset;
    position: absolute;
    left:318px;
    top:26px;
    font-family: 'Open Sans', sans-serif;
    
}
ol li a{
text-decoration: none;
color:#ffffff;
}

.deel{
    margin-left: 120px;
    font-weight: unset;
    position: absolute;
    right:185px;
    top:29px;
    font-family: 'Open Sans', sans-serif;
}
.icons{
    position: absolute;
    right:25px;
    top:20px;
}
.icons i{
    font-size: 21px;
    color: #ffffff;
    margin-left: 20px;
    font-weight: 100;
}
.fa-twitter::after{
    content: "\007C";
    margin-left: 13px;
    font-weight: 100;
    color: #f7b0b4;
    font-size: 25px;
}
.fa-facebook::after{
    content: "\007C"; 
    margin-left: 13px;
    color: #f7b0b4;
    font-size: 25px;
}

/* red background part end */

.para1{
    width:600px;
    text-align: center;
    margin-top: 1px;
    transform: translate(280px,-5px);
    line-height: 25px;
    font-size: 17px;

}
.head2{
 text-align: center; 
 margin-top: 100px;
 font-family: 'Times New Roman', Times, serif;
 font-weight: 400;
 font-size: 48px;
}

.clearfix .three{
    list-style-type: none;
    margin-top: 30px;
    font-size: 17px;
    color: #464b58;
    line-height: 20px;
}
.content-right{
    float: right;
    width: 540px;
    margin-top: -298px;
    line-height: 25px;
    
}
.clearfix .three::before{
    content: "\2713";
    color: #ea1b25;
    margin-right: 20px;
    font-size: 23px;
    font-weight: 600;
}
.head3{
    margin-top: 38px;
    font-size: 28px;
    font-family: 'Bree Rg';
    font-weight: unset;
}
.para2{
    margin-top: 20px;
    color: #464b58;
    font-size: 17px;
}
.para3{
    margin-top: 38px;
    color: #464b58;
    font-size: 17px;
    width: 500px;
}
.head4{
    font-weight: 500;
    font-size: 24px;
}
.clearfix::after{
content: "";
clear:both;
display: block;
}
.ins{
    text-decoration: underline;
    color: #464b58;
    margin-left: -1px;
    font-family: 'Times New Roman', Times, serif;
}
.box-content{
    width:1000px;
    height:240px;
    background-color: #f1f4f9;
    margin-top: 90px;
}
.head5{
    transform: translate(60px,58px);
   font-size: 17px; 
}
.para4{
    margin:70px 60px;
   width: 640px;
   line-height: 25px;
   font-family: 'Open Sans', sans-serif;
}
.rate{
    padding: 5px 10px;
    background-color: #434855;
    margin: 0 10px;
    color: #ffffff;
}
button{
    transform: translate(60px,-45px);  
    border: none;
    background-color: #ea1b25; 
    padding:10px 20px;
    font-family: 'Bree Rg';
    color:#ffffff;
}
.image img{
float: right;
margin-top: -300px;
height: 370px;
right: -50px
}
/* image forms */
.form-left{
background-color: #ffffff;
width: 570px;
height:920px;
margin-left: 6px;
}
.head8{
    font-size: 18px;
    font-family:'Bree Rg';
    padding: 30px 40px;
}
.bedsnaam{
   padding:0px 40px;
   font-family: 'Open Sans', sans-serif;
   font-size: 13px; 
}
.bedsnaam::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.restyle{
    display: block;
    padding:15px 10px;
    margin: 10px 40px;
    background-color: #ededed;
    border: none;
    width: 480px;
}
.tel{
    padding: 5px 40px;
    font-size: 11px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif ;
    display: inline-block;
}
.tel::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.num1{
    margin: 10px 40px;
    display: inline-block;
    width:220px;
    padding: 15px 10px;
    background-color: #ededed;
   border: none;
}
.web{
    display: inline-block;
    margin-left: 108px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif ;
}
.web::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
input[type=url]{
    display: inline-block;
    margin: 5px -6px;
    padding: 15px 10px;
    background-color: #ededed;
    border: none;
    width:220px;
}
.kvk{
    display:block;
    margin:10px 40px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif;

}
.kvk::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.numb2{
    margin: 5px 40px;
    padding: 15px 30px;
    border:none;
    background-color: #ededed;
    width:220px;
}
.tw{
    display:block;
    margin-left: 300px;
    margin-top: -70px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif;  
}
.tw::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.numb3{
    margin: 9px 300px;
    padding: 15px 30px;
    border:none;
    background-color: #ededed;
    width:220px;  
}
.branche{
    display:block;
    margin:10px 40px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif;  
}
.branche::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.zake{
    display: block;
    padding:15px 10px;
    margin: -14px 40px;
    background-color: #ededed;
    border: none;
    width: 480px;   
}
.aantal{
    padding: 5px 40px;
    font-size: 11px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif ;
    display: inline-block;  
    margin-top: 10px;
}
.aantal::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.opt1{
    margin: 10px 40px;
    padding: 15px 30px;
    border:none;
    background-color: #ededed;
    width:220px;   
}
.omz{
    display:block;
    margin-left: 300px;
    margin-top: -83px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif;     
}
.omz::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.opt2{
    margin: 13px 300px;
    padding: 15px 30px;
    border:none;
    background-color: #ededed;
    width:220px;      
}
.tarted{
    padding: 5px 40px;
    font-size: 11px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif ;
    display: inline-block;  
    margin-top: 10px;  
}
.tarted::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.opt3{
    display: block;
    padding:15px 10px;
    margin: 9px 40px;
    background-color: #ededed;
    border: none;
    width: 480px;   
}
.head9{
    font-size: 18px;
    font-family:'Bree Rg';
    padding: 10px 40px;  
    font-weight: 300;  
}
.bezo{
    padding: 5px 40px;
    font-size: 11px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif ;
    display: inline-block;  
    margin-top: 10px;  
}
.bezo::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.here{
    display: block;
    padding:15px 10px;
    margin: 9px 40px;
    background-color: #ededed;
    border: none;
    width: 480px;  
}
.postcode{
    padding: 5px 40px;
    font-size: 11px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif ;
    display: inline-block;  
    margin-top: 10px;   
}
.postcode::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.numb4{
    margin: 13px 40px;
    padding: 15px 30px;
    border:none;
    background-color: #ededed;
    width:220px;     
}
.plaats{
    display:block;
    margin-left: 300px;
    margin-top: -83px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif;   
}
.plaats::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.empty{
    margin: -7px 300px;
    padding: 15px 30px;
    border:none;
    background-color: #ededed;
    width:220px;
    border-bottom: 2px solid #ea1b25;        
}
.form-right{
    background-color: #ffffff;
    height: 920px;
    width: 570px;
    margin-left: -140px;
}
.forms{
    display:flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    margin-top: 30px;

}
.contact{
    font-size: 20px;
    font-family:'Bree Rg';
    padding: 30px 40px;
}
.aanhef{
    display:block;
    margin-left: 40px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif;  
}
.aanhef::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.meneer{
    padding: 15px 30px;
    border: none;
    background-color: #ededed;
    width: 480px;
    display: block;
    margin:20px 40px
}
.naam{
    display:block;
    margin-left: 40px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif;  
}
.naam::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.dylan{
    padding: 15px 30px;
    border: none;
    background-color: #ededed;
    width: 480px;
    display: block;
    margin:20px 40px
}
.functie{
    display:block;
    margin-left: 40px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif;     
}
.functie::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.eigenaar{
    padding: 15px 30px;
    border: none;
    background-color: #ededed;
    width: 480px;
    display: block;
    margin:20px 40px
}
.mobiel{
    padding: 5px 40px;
    font-size: 11px;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif ;
    display: inline-block;  
    margin-top: 10px;    
}
.tel06{
    margin: 10px 40px;
    padding: 15px 30px;
    border:none;
    background-color: #ededed;
    width:220px;  
}
.email{
    display:block;
    margin-left: 300px;
    margin-top: -83px;
    font-size: 11px;
    font-family:'Open Sans', sans-serif;  
}
.email::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.infonl{
    margin: -2px 300px;
    padding: 15px 30px;
    border:none;
    background-color: #ededed;
    width:220px;       
}
.linkedinurl{
    display:block;
    margin-left: 40px;
    font-size: 11px;
    margin-top: 30px;
    font-family:'Open Sans', sans-serif;       
}
.dylanvan2{
    padding: 15px 30px;
    border: none;
    background-color: #ededed;
    width: 480px;
    display: block;
    margin:20px 40px
}
.algemene{
    display:block;
    margin-left: 40px;
    font-size: 11px;
    margin-top: 10px;
    font-family:'Open Sans', sans-serif;     
}
.algemene::after{
    content: "\002A";
    color: #ea1b25;
    margin-left: 4px;
}
.button-submit{
   transform: translate(55px,40px);
   padding: 15px 190px;
   border: none;
   background-color: #ea1b25;
   color:#ffffff;
   font-size: 17px;
}

.ja-check{
    height:30px;
    width:30px;
    margin-left: 40px;
    margin-top: 30px;
}
.ja-check2{
    height:30px;
    width:30px;
    margin-left: 40px;
    margin-top: 30px;
}
.abcd{
    margin-left: 80px;
    color: #000000;
    font-size: 12px;
}
.jack, .jack2{
    font-family:'Open Sans', sans-serif;  
    font-size: 13px;
}
/* content bottom  */
.content-bottom{
    text-align: center;
    margin-top: 90px;
}
.para5{
    width:580px;
    transform: translate(310px,18px);
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}
.head6{
    font-size: 34px;
    font-family: 'Bree Rg';
    font-weight: 500;
}
.led{
    color:#ea1b25;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 100;
}
.all-logos{
    width: 100%;
    margin-top: 60px;
    margin-left: 1px;
    
}
.all-logos img{
    margin: 11px 62px;
    padding: 10px 32px;
    width:173px;
}
.five-images{
    margin-top: 80px;
    border-top: 1px solid lightgray;
    
}
.hand{
    padding: 10px 10px;
}
.circles{
    border: none;
    width:18px;
    height: 18px;
    border-radius: 50%;
    background-color: #434855;
}
.cone{
background-color: lightgray;
}
.circles{
    display: inline-block;
    transform: translate(726px,80px);
    margin-left: 10px;
}

.men2-image img{
    width: 100%;
    height:700px;
    margin-top: 120px;
}
.men2-image{
position: relative;
}
.child{
    background-color: #000000;
    width: 82%;
    height:293px;
    position: absolute;
    bottom:4px;
    right:0px;
    opacity: 0.8;
    
}
.contentinblack{
    color:white;
    padding-top: -100px;
    width:700px;
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: unset;
    margin-left: 150px;
    margin-top: 70px;
}
.inblack{
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: unset;
    position: absolute;
    left:370px;
    top:150px;
}
.arrow-l{
    font-size: 30px;
   position: absolute;
   left:40px;
   top:100px;
}
   
.arrow-r{
    font-size: 30px;
    position: absolute;
    right:-360px;
    top:-50px;

}
.down-redbg{
    background: #ea1b25;
    height: 150px;
    width: 80%;
    position: absolute;
    top: -83px;
}
.down-redbg{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.kamer{
    position: absolute;
    top:33px;
    right: 417px;
}
.onze{
    color: #ffffff;
    font-family: 'Bree Rg';
    position: absolute;
    left:292px;
    top: 60px;
    font-size: 21px;
    
}
.gem{
    color: #ffffff; 
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top:26px;
    left: 518px;
}
.ing{
    position: absolute;
    right:240px;
    top:61px;
}
.true{
    position: absolute;
    right:50px;
    top: 61px;
}
.gem p::before{
    content: "\00D7";
    font-size: 25px;
    font-weight: 900;
}
.image-backgound{
    background-image: url(../images/Foto.jpg);
    width: 100%;
    height: 1200px;
    margin-top: 70px;
}
.head7, .para6{
    color:#ffffff;
    text-align: center;
}
.head7{
    font-size: 20px;
    font-family: 'Bree Rg';
    padding-top: 50px;
}
.para6{
    width:468px;
    transform: translate(520px,20px);
}
/* footer top */
.footer-left{
    margin-left: 50px;
}
.second{
    margin-right: 50px;
}
.footer-bottom{
    margin-left: 50px;   
}
.right-bottom{
    margin-left: -100px;  
}
.head10{
    font-family: 'Open Sans', sans-serif;   
}
.para7{
    width:410px;
    margin-top: 10px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;   
}
.ADRES{
    font-size: 9px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;   
}
.coenha{
    font-family: 'Open Sans', sans-serif;    
    margin-top: 10px;
    font-size: 16px;
}
.amster{
    font-family: 'Open Sans', sans-serif; 
    margin-top: 8px;
    font-size: 16px; 
}
.evenagl{
    margin-left: 240px;
    margin-top: -70px;
}
.EVENS{
    font-family: 'Open Sans', sans-serif; 
    margin-top: 8px;
    font-size: 9px;    
}
.info{
    margin-top: 10px;
}
.numbi{
    margin-top: 10px;
}
.second{
  margin-top: -170px;
  margin-left: 780px;
  font-family: 'Open Sans', sans-serif;
}
.heading1{
font-family: 'Times New Roman', Times, serif;
font-weight: 400;
}
.Schrijf{
    width:400px;
    margin-top: 10px;
}
.anoript{
    margin-top: 40px;
}
.Insch{
    position: absolute;
    margin-top: 50px;
    margin-left: -49px;
    padding: 14px 40px;
    font-size: 17px;
}
.social{
    margin-top: 40px;
}
.tfl{
    margin-top: 20px;
    margin-left: -16px;
}
.tfl i{
    font-size: 25px;
    margin-left: 20px;
}
.app{
    color:#00aced;
}
.app2{
    color: #3b5998;
}
.app3{
    color: #007bb5;
}
.app::after{
    content: "\007C";
    color: lightgray;
}
.app2::after{
    content: "\007C";
    color: lightgray;
}
.border{
    border-bottom: 1px solid lightgray;
    margin-top: 50px;
}
.ver{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.right-bottom{
    margin-left:750px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: -20px;
}
.tus{
    margin-right: 10px;
}
.dis{
    margin-right: 10px;
}
.priv{
    margin-left: 10px;
}
.site{
    margin-left: 10px;
}
.logobottom{
    margin-left: 10px;
}
.footer-left{
    position: relative;
}
.footer-left::after{
    content: "";
    width: 1px;
    height: 362px;
    background-color: lightgrey;
    position: absolute;
    top: -83px;
    left: 500px;
}
.linerone{
    position: relative;
    display: inline;
}
.linerone::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 150px;
    background-color: red;
    top:0;
    right:0;
}
